---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
 
 
        <h1>I hope you are having a good relax today</h1>
            <h1>And that you're starting to feel much better</h1>
            <a href="/blog/">Now click here</a> 
	</body>
</html>

