---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>

<h1>Love Dada</h1>
          <p>Send me a messaging saying "Thanks for the cool website Dada" to prove that you read this</p>
	</body>
</html>